/* Base Element Styles */
body {
    background-image: url(https://images.pexels.com/photos/1029624/pexels-photo-1029624.jpeg?cs=srgb&dl=abstract-art-decoration-1029624.jpg&fm=jpg);
    background-color: skyblue;
    border-width: 90px;
}

a {
    color: black;
    text-decoration: none;
}

div {
    width: 250spx;
    min-width: 200px;
    max-width: 2000px;
    padding: 0;
    margin: 0 auto;
    line-height: 3;
    background-color: none;
    text-align: center;
    display: block;
}


/* Base Layout Styles */
.main {
    padding: 1em 0;
    max-width: 500;
}

.title {
    padding: 10px;
    color: black;
    text-align: center;
}

.title2 {
    background-image: url(https:////c1.staticflickr.com/2/1876/43941366595_33e8606f6e_m.jpg);
    background-color: none;
    background-repeat: no-repeat;
    background-position: 50% center;
    margin-left: 665px;
}

.hello {
    padding: 10px;
    color: black;
    background-color: black;
    border: 2px solid white;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 25px;
}

.profile-image {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    border: thick double white;
    transition: all .5s;
  }

  .profile-image:hover {
    transform: scale(1.2);
  }

.list {
    list-style-type: none;
    white-space: normal;
    flex-wrap: wrap;
}

.main-header {
    padding: 4em 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
}




